body {
    background: linear-gradient(45deg, #404041, #045377);
    color: #E0E1DD;
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.app-container {
    background: linear-gradient(120deg, #404041, #045377);
    padding: 2rem;
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    text-align: center;
}
h1 { color: #00A6FB; }
#search-form { display: flex; gap: 0.5rem; margin: 1.5rem 0; }
#city-input {
    flex-grow: 1; padding: 0.75rem; border: 1px solid #006494;
    border-radius: 0.5rem; background: #19252b; color: #E0E1DD;
    font-size: 1rem;
}
#search-form button {
    padding: 0.75rem 1rem; background-color: #f7f7f7; color: #051923;
    border: none; border-radius: 0.5rem; font-size: 1rem; font-weight: bold;
    cursor: pointer; transition: background-color 0.2s;
}
#search-form button:hover { background-color: #1c73a5; }
.weather-info { margin-top: 1.5rem; min-height: 150px; }
.weather-info .temp { 
    font-size: 3rem; 
    font-weight: bold; 
    margin: 0.5rem 0; 
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;}
.error { color: #ff4d4d; font-weight: bold; }